<section class=" flex flex-col flex-wrap justify-center py-5 gap-5">

<div
    class="flex flex-col flex-wrap justify-center container mx-auto px-4 mx-2xl py-5 gap-5 bg-white max-w-md gap-x-20 border-2  rounded-md">
    <div
      class=" flex items-center relative p-3 col-start-1 row-start-1 flex-col-reverse rounded-lg  via-black/0 sm:bg-none sm:row-start-2 sm:p-0 lg:row-start-1">
      <h1 class="mt-1 text-lg font-semibold sm:text-slate-900 md:text-2xl">{{poll_text}}</h1>
    </div>
     <div
      class=" flex items-center relative p-3 col-start-1 row-start-1 flex-col-reverse rounded-lg  via-black/0 sm:bg-none sm:row-start-2 sm:p-0 lg:row-start-1">
      <p class="mt-1 text-sm font-semibold sm:text-slate-900 md:text-lg">Poll By: {{user.username}}</p>
      <p class="mt-1 text-sm font-semibold sm:text-slate-900 md:text-lg">Published On:{{format_date created_at}} </p>
    </div>
    <div class="flex justify-center gap-4 sm:mb-6 lg:gap-6 lg:col-start-2 lg:row-end-6 lg:row-span-6 lg:mb-0">
            <canvas id="{{ id }}-chart"></canvas> {{! line for hosting the poll chart. }}
        </div>

        <script src="/doughnut.js"></script> {{! addition of poll chart functions }}
        <script>displayPollResults('{{ id }}', '{{ id }}-chart');</script> {{! calling function to display poll chart }}
        
    <article class="p-6 mb-6 text-base bg-white rounded-lg">
        <div class="flex justify-between items-center mb-6">
          <h2 class="text-lg lg:text-2xl font-bold text-gray-900">Discussion</h2>
        </div>
     
       {{> comment}}

    </article>
  </div>
</section>