<section class=" flex flex-col flex-wrap justify-center search-container py-5 gap-5">

    <div
        class="flex flex-col flex-wrap justify-center container mx-auto px-4 mx-2xl py-5 gap-5 bg-white max-w-md gap-x-20 border-2  rounded-md">
        <div
            class=" flex items-center relative p-3 my-3 col-start-1 row-start-1 flex-col-reverse rounded-lg  via-black/0 sm:bg-none sm:row-start-2 sm:p-0 lg:row-start-1 gap-5 ">
            <h1 class="title mt-1 text-lg font-semibold sm:text-slate-900 md:text-2xl ">{{poll_text}}</h1>
        </div>
        <div
            class=" flex items-center relative p-3 col-start-1 row-start-1 flex-col-reverse rounded-lg  via-black/0 sm:bg-none sm:row-start-2 sm:p-0 lg:row-start-1">
            {{!-- will need to replace the user Name with actual user name --}}
            <p class="mt-1 text-sm font-semibold sm:text-slate-900 md:text-lg ">Poll By: {{user.username}}</p>
              <p class="mt-1 text-sm font-semibold sm:text-slate-900 md:text-lg">Published On: {{format_date created_at}} </p>
        </div>
        <div class="flex justify-center gap-4 sm:mb-6 lg:gap-6 lg:col-start-2 lg:row-end-6 lg:row-span-6 lg:mb-0">
            <canvas id="{{ id }}-chart"></canvas> {{! line for hosting the poll chart. }}
        </div>
        <div
            class=" flex gap-5 mt-2 col-start-1 row-start-3 self-center sm:mt-0 sm:col-start-2 sm:row-start-2 sm:row-span-2 lg:mt-6 lg:col-start-1 lg:row-start-3 lg:row-end-4">
            <button type="submit"
                class="flex justify-center w-20 items-center py-2.5 px-4 text-sm font-medium text-center text-white bg-blue-500 rounded-lg focus:ring-4 focus:ring-primary-200  hover:bg-primary-800"
                id="agree-button">Agree</button> {{! agree button }}
            <button type="submit"
                class="flex justify-center w-20 items-center py-2.5 px-4 text-sm font-medium text-center text-white bg-blue-500 rounded-lg focus:ring-4 focus:ring-primary-200 hover:bg-primary-800"
                id="disagree-button">Disagree</button> {{! disagree button }}
        </div>
        <script src="/doughnut.js"></script> {{! addition of poll chart functions }}
        <script>displayPollResults('{{ id }}', '{{ id }}-chart');</script> {{! calling function to display poll chart }}

        <section class="bg-white lg:py-16">
            <div class="max-w-lg mx-auto px-4">
                <div class="flex justify-between items-center mb-6">
                    <h2 class="text-lg lg:text-2xl font-bold text-gray-900">Discussion</h2>
                </div>

                <form class="mb-6 comment-form" id="comment-form">
                    <div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200">
                        <label for="comment" class="sr-only">Your comment</label>
                        <input id="comment-text" name="comment-text" rows="6"
                            class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none"
                            placeholder="Write a comment..." required></input>
                    </div>
                    <button type="submit"
                        class="inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-white bg-blue-500 rounded-lg focus:ring-4 focus:ring-primary-200 hover:bg-primary-800">
                        Post comment
                    </button>
                </form>

                  {{> comment}}

            </div>
        </section>
    </div>
</section>

<script src="./comment.js"></script>