<section class=" flex flex-col flex-wrap justify-center search-container py-5 gap-5">

    <div
        class="flex flex-col flex-wrap justify-center py-5 px-10 gap-5 bg-white mx-auto lg:max-w-2xl lg:gap-x-20 border-2  rounded-md">
        <div
            class=" flex items-center relative p-3 my-3 col-start-1 row-start-1 flex-col-reverse rounded-lg  via-black/0 sm:bg-none sm:row-start-2 sm:p-0 lg:row-start-1 gap-5 ">
            <h1 class="title mt-1 text-lg font-semibold sm:text-slate-900 md:text-2xl ">{{poll_text}}</h1>
        </div>
        <div
            class=" flex items-center relative p-3 col-start-1 row-start-1 flex-col-reverse rounded-lg  via-black/0 sm:bg-none sm:row-start-2 sm:p-0 lg:row-start-1">

            {{!-- will need to replace the user Name with actual user name --}}
            <p class="mt-1 text-sm font-semibold sm:text-slate-900 md:text-lg ">Poll By: {{user.username}}</p>
        </div>
        <div class="flex justify-center gap-4 sm:mb-6 lg:gap-6 lg:col-start-2 lg:row-end-6 lg:row-span-6 lg:mb-0">
            <canvas id="{{ id }}-chart"></canvas> {{! line for hosting the poll chart. }}
        </div>
        <div
            class=" flex gap-5 mt-2 col-start-1 row-start-3 self-center sm:mt-0 sm:col-start-2 sm:row-start-2 sm:row-span-2 lg:mt-6 lg:col-start-1 lg:row-start-3 lg:row-end-4">
            <button type="submit"
                class="flex justify-center w-20 items-center py-2.5 px-4 text-sm font-medium text-center text-white bg-blue-500 rounded-lg focus:ring-4 focus:ring-primary-200  hover:bg-primary-800"
                id="agree-button">Agree</button> {{! agree button }}
            <button type="submit"
                class="flex justify-center w-20 items-center py-2.5 px-4 text-sm font-medium text-center text-white bg-blue-500 rounded-lg focus:ring-4 focus:ring-primary-200 hover:bg-primary-800"
                id="disagree-button">Disagree</button> {{! disagree button }}
        </div>
        <script src="/doughnut.js"></script> {{! addition of poll chart functions }}
        <script>displayPollResults('{{ id }}', '{{ id }}-chart');</script> {{! calling function to display poll chart }}

        <section class="bg-white lg:py-16">
            <div class="max-w-lg mx-auto px-4">
                <div class="flex justify-between items-center mb-6">
                    <h2 class="text-lg lg:text-2xl font-bold text-gray-900">Discussion</h2>
                </div>
                <form class="mb-6">
                    <div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200">
                        <label for="comment" class="sr-only">Your comment</label>
                        <textarea id="comment" rows="6"
                            class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none"
                            placeholder="Write a comment..." required></textarea>
                    </div>
                    <button type="submit"
                        class="inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-white bg-blue-500 rounded-lg focus:ring-4 focus:ring-primary-200 hover:bg-primary-800">
                        Post comment
                    </button>
                </form>
                <article class="p-6 mb-6 text-base bg-white rounded-lg ">
                    <footer class="flex justify-between items-center mb-2">
                        <div class="flex items-center">
                            <p class="inline-flex items-center mr-3 text-sm text-gray-900 "><img
                                    class="mr-2 w-6 h-6 rounded-full" {{!-- will need to delete the picture --}}
                                    src="https://flowbite.com/docs/images/people/profile-picture-2.jpg" {{!-- will need
                                    to replace with the actual user name --}} alt="user name">{{comment.user.name}}</p>
                            {{!-- will need to make sure that this is the correct date for the comment --}}
                            {{!-- <p class="text-sm text-gray-600 "><time pubdate>{{format_date
                                    comment.date_created}}</time></p> --}}
                        </div>
                        <button id="dropdownComment1Button" data-dropdown-toggle="dropdownComment1"
                            class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-400 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50"
                            type="button">
                        </button>
                    </footer>
                    <div>
                        {{!-- this is where the comment will need to be added --}}
                        <p class="text-gray-500 ">{{comment.description}}</p>
                    </div>

                    {{!-- Reply button is for future improvements --}}
                    {{!-- <div class="flex items-center mt-4 space-x-4">
                        <button type="button" class="flex items-center text-sm text-gray-500 hover:underline ">
                            <svg aria-hidden="true" class="mr-1 w-4 h-4" fill="none" stroke="currentColor"
                                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z">
                                </path>
                            </svg>
                            Reply
                        </button>
                    </div> --}}
                </article>

            </div>
        </section>
    </div>
</section>